#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define LAYER_QWERTY 0
#define LAYER_SYM    1

/ {

    behaviors {
        cmdt: comma-dot-tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HT-COMMA-PERIOD";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <120>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";


        default_layer {
            bindings = <
            &kp Q   &kp W   &kp E   &kp R   &kp T   &kp Y   &kp U   &kp I   &kp O   &kp P
            &kp A   &kp S   &kp D   &kp F   &kp G   &kp H   &kp J   &kp K   &kp L   &kp SEMI
            &kp Z   &kp X   &kp C   &kp V   &kp B   &kp N   &kp M   &lt LAYER_QWERTY SPACE  &cmdt COMMA PERIOD  &kp FSLH
            >;
        };
    };

};
